[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = v3_req
prompt             = no

[ req_distinguished_name ]
CN = mosquitto

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = mosquitto
DNS.2 = localhost
DNS.3 = digital_ocean
